@media (prefers-color-scheme: light) {
  :root {
    --bg-default: white;
    --fg-default: black;

  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-default: black;

    --fg-default: rgb(125, 133, 144);
    --fg-link: rgb(255, 255, 255)
  }
}


/* Load Github Font */
@font-face {
  font-family: 'Mona Sans';
  src:
    url('./assets/Mona-Sans.woff2') format('woff2 supports variations'),
    url('./assets/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

/* Global styles */
* {
  box-sizing: border-box;
}

html {
  font-family: 'Mona Sans';
}

body {
  margin: 0;
  padding: 2rem;
  color: var(--fg-default);
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 1rem;
  margin: 3rem 0;
  padding: 0;
}

li {
  padding: 1rem;
  flex: 1;
  border: 1px solid var(--fg-default);
}

h1 {
  font-weight: 800;
  font-size: 4rem;
  margin: 0;
}

.gradient-text {
  background: linear-gradient(90deg, #3349f6 0%, #ff5121 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.svg-inline--fa {
  margin-right: 1rem;
}


/* media query to change flex direct to row */
@media screen and (min-width: 768px) {
  ul {
    flex-direction: row;
  }
}


/* Dark Mode Theme */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-default);
  }
  a {
    color: var(--fg-link);
  }
}