@media (prefers-color-scheme: light) {
  :root {
    --bg-background: white;
    --bg-surface: rgba(0, 0, 0, .03);


    --fg-default: 121212;
    --fg-link: hsl(199, 78%, 57%);
    --fg-link-hover: hsl(199, 78%, 47%);
    --fg-headings: rfb(225, 225, 225);

    --fg-primary: #3cb1e7;

  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-background: black;
    --bg-surface: rgba(255, 255, 255, .07);
    /* --bg-surface: #121212; */

    --fg-default: rgb(225, 225, 225);
    --fg-link: rgba(255, 255, 255, 1);
    --fg-link-hover: rgba(255, 255, 255, .85);
    --fg-headings: rfb(225, 225, 225);

    --fg-primary: hsl(199, 78%, 53%);

  }
}


/* Load Github Font */
@font-face {
  font-family: 'Mona Sans';
  src:
    url('./assets/Mona-Sans.woff2') format('woff2 supports variations'),
    url('./assets/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

/* Global styles */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
ul {
  margin: 0;
  padding: 0;
}

body {
  color: var(--fg-default);
  font-family: 'Mona Sans';
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  padding: 2rem;
}

a {
  color: var(--fg-link);
  text-decoration: none;
}
a:hover {
  color: var(--fg-link-hover);
  text-decoration: underline;
}

ul {
  display: grid;
  list-style-type: none;
  gap: 1rem;
  grid-template-columns: 1fr;
}

li {
  background-color: var(--bg-surface);
  padding: 2rem;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1 {
  font-weight: 800;
  font-size: clamp(2.25rem, 9vw, 6rem);
}

.pill {
  background-color: var(--bg-surface);
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-right: 0.5rem;
}

.gradient-text {
  background: linear-gradient(90deg, #3349f6 0%, #21ffd3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.svg-inline--fa {
  margin-right: 1rem;
}


@media screen and (min-width: 600px) {
  ul {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 900px) {
  ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


/* Dark Mode Theme */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-background);
  }
  a {
    color: var(--fg-link);
  }
}