/* Global styles */
* {
  box-sizing: border-box;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 1rem;
  margin: 3rem;
  padding: 0;
}

li {
  padding: 1rem;
  flex: 1;
  border: 1px solid #ccc;
}

.svg-inline--fa {
  margin-right: 1rem;
}


/* media query to change flex direct to row */
@media screen and (min-width: 768px) {
  ul {
    flex-direction: row;
  }
}