/* Default, Dark Mode */
:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --orange: #ff9776;
  --gray: #d0d0d0;
  --lightgray: #dddddd;
  --black: #000000;

  --bg-color: rgb(15, 20, 25);
  --bg-surface: rgb(22,27,34);
  --bg-surface: rgba(133, 133, 133, 0.15);

  --text-color: rgb(140,150,160);
  --text-color-headline: rgb(230,235,240);

  --link-color: rgb(50,130,245);

  --color-primary: var(--blue);
  --color-secondary: var(--white);
  --color-tertiary: var(--orange);

  --color-link-primary: var(--color-primary);
  --color-link-secondary: var(--color-secondary);

  --color-tag-primary: var(--lightgray);
  --color-tag-secondary: var(--gray);
}

  /* User set: Light Mode */
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: rgb(230,235,240);
    --bg-surface: rgb(22,27,34);
    --text-color: rgb(15,20,25);
    --text-color-headline: rgb(230,235,240);
  }
}



* {
    box-sizing: border-box;
}

html {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: sans-serif;
}
  
body {
    margin: 0 auto;
    width: 100%;
    /* max-width: 80ch; */
    padding: 1rem;
    line-height: 1.5;
    font-size: 1.125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color-headline);
  font-weight: 700;
  margin: 0;
  line-height: 1.125;
}

h1 {
    font-size: clamp(2.25rem, 9vw, 6rem);
    font-weight: 900;
}

.gradient-text {
  background: linear-gradient(90deg, #3349f6 0%, #21ffd3 100%);
  width: max-content;
  max-width: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}


a {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
}
a:hover,
a:focus {
  color: var(--link-color);
  text-decoration: underline;
}
a:visited {
  color: var(--link-color);
}
