/* Default, Dark Mode */
:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --orange: #ff9776;
  --gray: #d0d0d0;
  --lightgray: #dddddd;
  --black: #000000;

  --bg-color: rgb(15,20,25);
  --bg-surface: rgb(22,27,34);
  --bg-surface: rgba(133, 133, 133, 0.15);

  --text-color: rgb(140,150,160);
  --text-color-headline: rgb(230,235,240);

  --color-primary: var(--blue);
  --color-secondary: var(--white);
  --color-tertiary: var(--orange);

  --color-link-primary: var(--color-primary);
  --color-link-secondary: var(--color-secondary);

  --color-tag-primary: var(--lightgray);
  --color-tag-secondary: var(--gray);
}

  /* User set: Light Mode */
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: rgb(230,235,240);
    --bg-surface: rgb(22,27,34);
    --text-color: rgb(15,20,25);
    --text-color-headline: rgb(230,235,240);
  }
}



* {
    box-sizing: border-box;
}

html {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: sans-serif;
}
  
body {
    margin: 0 auto;
    width: 100%;
    /* max-width: 80ch; */
    padding: 1rem;
    line-height: 1.5;
    font-size: 1.125rem;
}

a {
    text-decoration: none;
    cursor: pointer;
}
a:hover,
a:focus {
    text-decoration: underline;
}
a:visited {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color-headline);
  font-weight: 700;
  margin: 0;
}

h1 {
    font-size: clamp(2.25rem, 9vw, 6rem);
    font-weight: 900;
}

.gradient-text {
  background: linear-gradient(90deg, #3349f6 0%, #21ffd3 100%);
  width: max-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}


/* nav styles */

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: var(--color-tertiary);
    display: none;
    margin: 0;
  }
  
  .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .nav-links a:hover,
  .nav-links a:focus {
    background-color: #ff9776;
  }
  
  .expanded {
    display: unset;
  }

  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
  }
  
@media screen and (min-width: 636px) {
  body {
    font-size: 1.5rem;
  }

  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  
  .hamburger {
    display: none;
  }
}
