---
import { getEntry } from "astro:content";
const brett = await getEntry("authors", "brett-baisley");

import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout  
    title="Brett Baisley | About Me"
    heading="About Me"
    subheading="This is my personal page for exploration and innovation."
>
    <p class="my-2 text-gray-500 dark:text-gray-500">{brett?.data.name}</p>
    <p class="my-2 text-gray-500 dark:text-gray-500">{brett?.data.bio}</p>
</MainLayout>