---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Brett Baisley | dev">
    <div class="container">
        <h1>Welcome</h1>
        <h2>This is my personal page for exploration and innovation.</h2>
        
        <ul class="card-list">
        <li>
            <h2><i class="fal fa-blog"></i> <a href="/blog/">Blog</a></h2>
            <p>Just a small personal blog that doesn't really contain anything useful ... yet!</p>
            <div class="pills">
                <span class="pill">Astro</span>
            </div>
        </li>
        <li>
            <h2><i class="fal fa-calendar-day"></i> <a href="http://days.baisley.dev">Days</a></h2>
            <p>An Azure static web app (SWA) built to allow my kids to see how long until a few special days.</p>
            <div class="pills">
                <span class="pill">HTML</span>
                <span class="pill">CSS</span>
                <span class="pill">Javascript</span>
            </div>
        </li>
        <li>
            <h2><i class="fal fa-gift"></i> <a href="http://gifts.baisley.dev">Gifts</a></h2>
            <p>A registry/wish-list style React app, to remember some gifts my kids said they wanted.</p>
            <div class="pills">
                <span class="pill">React</span>
                <span class="pill">CosmosDB</span>
        </div>
        </li>
        <li>
            <h2><i class="fal fa-list-ol"></i> <a href="/top-ten/">Top-Ten</a></h2>
            <p>My <em>Late Show with David Letterman</em>'s winning top ten list entry.</p>
            <div class="pills">
                <span class="pill">HTML</span>
        </div>
        </li>
    </ul>
</div>
</BaseLayout>

<style>
.card-list {
  display: grid;
  grid-template-columns: 2fr 2fr;
  list-style-type: none;
  gap: 1rem;
  padding: 0;

  & li {
    flex: 1;
    background-color: var(--bg-surface);
    border-radius: 1rem;
    padding: 1rem;
 }
}

.pill {
  background-color: var(--bg-surface);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
}
</style>