---
import '../styles/global.css'
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Brett Baisley | dev">
    <ul class="card-list">
        <li>
            <h2><i class="fal fa-blog"></i> <a href="/blog">Blog</a></h2>
            <p>Just a small personal blog that doesn't really contain anything useful ... yet!</p>
            <div class="pills">
                <span class="pill">Astro</span>
            </div>
        </li>
        <li>
            <h2><i class="fal fa-calendar-day"></i> <a href="http://days.baisley.dev">Days</a></h2>
            <p>An Azure static web app (SWA) built to allow my kids to see how long until a few special days.</p>
            <div class="pills">
                <span class="pill">HTML</span>
                <span class="pill">CSS</span>
                <span class="pill">Javascript</span>
            </div>
        </li>
        <li>
            <h2><i class="fal fa-gift"></i> <a href="http://gifts.baisley.dev">Gifts</a></h2>
            <p>A registry/wish-list style React app, to remember some gifts my kids said they wanted.</p>
            <div class="pills">
                <span class="pill">React</span>
                <span class="pill">CosmosDB</span>
        </div>
        </li>
    </ul>
</BaseLayout>

<style>
.card-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style-type: none;
  gap: 1rem;
  padding: 0;

  @media (min-width: 1000px) {
      flex-direction: row;
  }

  & li {
    flex: 1;
    background-color: var(--bg-surface);
    border-radius: 1rem;
    padding: 1rem;
    
    @media (min-width: 1000px) {
      padding: 2rem;
    }
 }
}

.pill {
  background-color: var(--bg-surface);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
}
</style>


<!-- <style>
/* Default, White Mode Theme */
:root {
  --bg-background: white;
  --bg-surface: rgba(0, 0, 0, .025);

  --fg-default: 121212;
  --fg-link: hsl(199, 78%, 57%);
  --fg-link-hover: hsl(199, 78%, 47%);
  --fg-headings: rfb(225, 225, 225);

  --fg-primary: #3cb1e7;
}
/* Perfers Dark Mode Theme */
@media (prefers-color-scheme: dark) {
  :root {
  --bg-background: black;
  --bg-surface: rgba(255, 255, 255, .08);
  
  --fg-default: rgb(225, 225, 225);
  --fg-link: rgba(255, 255, 255, 1);
  --fg-link-hover: rgba(255, 255, 255, .85);
  --fg-headings: rfb(225, 225, 225);

  --fg-primary: hsl(199, 78%, 53%);
  }
}


/* Load Github Font */
@font-face {
  font-family: 'Mona Sans';
  src:
    url('/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

/* Global styles */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-background);
  color: var(--fg-default);
  font-family: 'Mona Sans';
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  padding: 2rem;
}

h2 a {
  margin-left: 1rem;
}

a {
  color: var(--fg-link);
  text-decoration: none;
}
a:hover {
  color: var(--fg-link-hover);
  text-decoration: underline;
}

ul {
  display: grid;
  list-style-type: none;
  gap: 1rem;
  grid-template-columns: 1fr;
}

li {
  background-color: var(--bg-surface);
  border-radius: 1rem;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  padding: 2rem;
}

li > * {
  min-width: 0;
}

h1 {
  font-weight: 800;
  font-size: clamp(2.25rem, 9vw, 6rem);
  width: max-content;
}

.pills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}
.pill {
  background-color: var(--bg-surface);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
}




@media screen and (min-width: 600px) {
  ul {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}
@media screen and (min-width: 900px) {
  ul {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

</style> -->