---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Brett Baisley | dev">
    <div class="container mx-auto px-4">
        <h1 class="text-5xl">Welcome</h1>
        <h2 class="text-2xl mt-4 text-gray-500">This is my personal page for exploration and innovation.</h2>
        
        <ul class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-8">
        <li class="shadow-md p-8 rounded-2xl">
            <h2 class="text-2xl"><i class="fal fa-blog"></i> <a href="/blog/">Blog</a></h2>
            <p class="my-2">Just a small personal blog that doesn't really contain anything useful ... yet!</p>
            <div>
                <span class="rounded-4xl bg-gray-200 px-2 py-1 text-sm">Astro</span>
            </div>
        </li>
        <li class="shadow-md p-8 rounded-2xl">
            <h2 class="text-2xl"><i class="fal fa-calendar-day"></i> <a href="http://days.baisley.dev">Days Until</a></h2>
            <p class="my-2">An Azure static web app (SWA) built to allow my kids to see how long until a few special days.</p>
            <div>
                <span class="rounded-4xl bg-gray-200 px-2 py-1 text-sm">HTML</span>
                <span class="rounded-4xl bg-gray-200 px-2 py-1 text-sm">CSS</span>
                <span class="rounded-4xl bg-gray-200 px-2 py-1 text-sm">Javascript</span>
            </div>
        </li>
        <li class="shadow-md p-8 rounded-2xl">
            <h2 class="text-2xl"><i class="fal fa-gift"></i> <a href="http://gifts.baisley.dev">Gifts</a></h2>
            <p class="my-2">A registry/wish-list style React app, to remember some gifts my kids said they wanted.</p>
            <div>
                <span class="rounded-4xl bg-gray-200 px-2 py-1 text-sm">React</span>
                <span class="rounded-4xl bg-gray-200 px-2 py-1 text-sm">CosmosDB</span>
        </div>
        </li>
        <li class="shadow-md p-8 rounded-2xl">
            <h2 class="text-2xl"><i class="fal fa-list-ol"></i> <a href="/top-ten/">Top-Ten</a></h2>
            <p class="my-2">My <em>Late Show with David Letterman</em>'s winning top ten list entry.</p>
            <div>
                <span class="rounded-4xl bg-gray-200 px-2 py-1 text-sm">HTML</span>
        </div>
        </li>
    </ul>
</div>
</BaseLayout>
