---
const { pageTitle } = Astro.props
---
<header>
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="/" class="-m-1.5 p-1.5">
          <span class="sr-only">Brett Baisley</span>
          <i class="fal fa-house text-black dark:text-white"></i>
        </a>
      </div>
      <div class="flex lg:hidden">
        <button id="open-menu" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-300">
          <span class="sr-only">Open main menu</span>
          <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">  
        <a href="/blog" class="text-sm/6 font-semibold text-gray-900 dark:text-gray-200">Blog</a>
        <a href="/top-ten" class="text-sm/6 font-semibold text-gray-900 dark:text-gray-200">Top Ten</a>
        <a href="https://days.baisley.dev" class="text-sm/6 font-semibold text-gray-900 dark:text-gray-200">Days Until</a>
        <a href="https://gifts.baisley.dev" class="text-sm/6 font-semibold text-gray-900 dark:text-gray-200">Gifts</a>
      </div>
      
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div id="mobile-menu" class="lg:hidden" role="dialog" aria-modal="true">
      <!-- Background backdrop, show/hide based on slide-over state. -->
      <div class="fixed inset-0 z-10"></div>
      <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white dark:bg-gray-900 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
        <div class="flex items-center justify-between">
          <a href="/" class="-m-1.5 p-1.5">
            <span class="sr-only">Brett Baisley</span>
            <i class="fal fa-house text-black dark:text-white"></i>
          </a>
          <button id="close-menu" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Close menu</span>
            <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6">
              <a href="/blog" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 dark:text-gray-200 hover:bg-gray-50">Blog</a>
              <a href="/top-ten" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 dark:text-gray-200 hover:bg-gray-50">Top Ten</a>
              <a href="https://days.baisley.dev" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 dark:text-gray-200 hover:bg-gray-50">Days Until</a>
              <a href="https://gifts.baisley.dev" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 dark:text-gray-200 hover:bg-gray-50">Gifts</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <script>
    const openMenuButton = document.getElementById('open-menu');
    const closeMenuButton = document.getElementById('close-menu');
    const mobileMenu = document.getElementById('mobile-menu');

    if (openMenuButton) {
        openMenuButton.addEventListener('click', () => {
            if (mobileMenu)
                mobileMenu.classList.remove('hidden');
        });
    }

    if (closeMenuButton) {
        closeMenuButton.addEventListener('click', () => {
            if (mobileMenu)
            mobileMenu.classList.add('hidden');
        });
    }
</script>