---
---
<div id="menu-links" class="m-0 py-4 text-black dark:text-white flex-col md:flex-row hidden md:flex w-full gap-2 md:mx-auto justify-end">
    <a class="px-4 hover:text-gray-800" href="/">Home</a>
    <a class="px-4 hover:text-gray-800" href="/blog">Blog</a>
    <a class="px-4 hover:text-gray-800" href="/top-ten">Top Ten</a>
    <a class="px-4 hover:text-gray-800" href="/about">About</a>
  </div>