---
---
<div id="menu-links" class="m-0 p-4 text-black dark:text-white flex flex-col md:flex-row hidden md:flex w-full gap-2 md:mx-auto">
    <a class="px-4 hover:text-gray-800 text-xl" href="/">Home</a>
    <a class="px-4 hover:text-gray-800 text-xl" href="/blog">Blog</a>
    <a class="px-4 hover:text-gray-800 text-xl" href="/top-ten">Top Ten</a>
    <a class="px-4 hover:text-gray-800 text-xl" href="https://days.baisley.dev">Days Until</a>
    <a class="px-4 hover:text-gray-800 text-xl" href="https://gifts.baisley.dev">Gifts</a>
  </div>