---
import Navigation from "./Navigation.astro"
import Hamburger from "./Hamburger.astro"
import Logo from "./Logo.astro"

const links = [
  { href: "/", text: "Home" },
  { href: "/about", text: "About" },
  { href: "/blog", text: "Blog" },
];
---
<header>
  <nav class="flex items-center justify-between px-4 gap-4">
    <Logo />
    <Hamburger/>
    <Navigation />
  </nav>
</header>


<script>

</script>