---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;

const pageTitle = "Brett's Blog";

---
<BaseLayout pageTitle={pageTitle}></BaseLayout>
  <article>
    <header>
      <div class="article-eyebrow"></div>
      <h1 class="article-headline">{frontmatter.title}</h1>
      <h2 class="article-subheadline">{frontmatter.subtitle}</h2>
      <div class="article-date">{new Date(frontmatter.pubDate).toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'short', day: 'numeric' })}</div>
    </header>
    <section class="article-content">
      <slot />
    </section>
  </article>
</BaseLayout>

<style>
  header {
    text-align: center;
  }
  
  .article-subheadline {
    font-weight: 200;
  }

  .article-content {
    margin-top: 3rem;
  }

  .article-date{
    font-size: .8rem;
  }
</style>