---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;

const pageTitle = "Brett's Blog";

---
<BaseLayout pageTitle={pageTitle}></BaseLayout>
  <article class="prose lg:prose-xl mx-auto p-4 py-12">
    <header>
      <h1 class="">{frontmatter.title}</h1>
      <h2 class="">{frontmatter.subtitle}</h2>
      <div class="">{new Date(frontmatter.pubDate).toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'short', day: 'numeric' })}</div>
    </header>
    <section class="">
      <slot />
    </section>
  </article>
</BaseLayout>

