---
import MainLayout from './MainLayout.astro';
const { frontmatter } = Astro.props;

const pageTitle = "Brett's Blog";

---
<MainLayout pageTitle={pageTitle}>
  <article class="prose lg:prose-xl dark:prose-invert mx-auto p-4 py-12 dark:bg-gray-900 dark:text-slate-500">
    <header>
      <h1 class="">{frontmatter.title}</h1>
      <h2 class="">{frontmatter.subtitle}</h2>
      <div class="">{new Date(frontmatter.pubDate).toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'short', day: 'numeric' })}</div>
    </header>
    <section class="">
      <slot />
    </section>
  </article>
</MainLayout>

